.borders {
    outline: 1px solid black;
/*    background-color: red;*/
}

html {
    box-sizing: border-box;
}

.visually-hidden {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'PT Sans', 'Arial', 'sans-serif';
    font-weight: 400;
    font-size: 16px;
    color: #000;  
}

.shadow-block {
    position: relative;
    max-width: 1200px;
    min-width: 768px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.33);
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
    font-weight: 500;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.container {
    position: relative;
    margin: 0 auto;
    max-width: 1200px;
    min-width: 768px;
/*    padding: 0 20px;*/
}

.page {
    position: relative;
    display: block;
    background-color: #f2f2f2;
}

.page-header {
    padding: 0 6%;
}

.wrapper {
    max-width: 1056px;
    min-width: 678px;
    margin: 0 6%;
}

.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.logo a {
    transition: 0.3s;
}

.logo a:hover img {
    transition: 0.3s;
}

.logo a:hover,
.logo a:focus {
    opacity: 0.8;
    outline: none;
}

.logo a:hover img,
.logo a:focus img {
    transform: scale(1.2);
}

.page-navigation {
    background-color: #fff;
}

.navigation-list {
    display: flex;
}

.navigation-item:first-child {
    margin-right: 14%;
}

.navigation-item:nth-child(3) {
    margin-left: auto;
}

.navigation-item:last-child {
    margin-left: 15%;
}

.navigation-item a {
    font-size: 14px;
    font-weight: bold;
    line-height: 56px;
    cursor: pointer;
    outline: none;
}

.navigation-item a:hover:not(.current),
.navigation-item a:focus:not(.current) {
    color: #81b3d2;
}

.navigation-item a:active:not(.current) {
    color: #000;
    opacity: 0.3;
}

.promo {
    margin-bottom: 33px;
}

.background-photo {
    position: relative;
    background: url('../img/intro_layer_background.jpg') no-repeat center;
    background-position-y : -215px;
    transition: 0.5s;
    display: flex;
    background-size: 100%;
    padding-top: 76px;
    padding-bottom: 80px;
    justify-content: center;
    margin-bottom: 60px;
}

.background-photo:hover {
    background-size: 105%;
}

.background-photo::after {
    position: absolute;
    content: '';
    width: 100%;
    background: url('../img/layer_mask.png') no-repeat center;
    background-size: 100% 57px;
    bottom: 0;
    height: 57px;
}

.promo-text {
    text-transform: uppercase;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-align: center;
    margin: 0 24%;
    min-width: 550px;
}

.reasons > p {
    display: block;
    color: #333;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 57px;
}

.reason-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.reason-item{
    display: flex;
    flex-wrap: wrap;
}

.reason-item-info {
    text-align: center;
    background-color: #81b3d2;
    width: 33.333%;
    padding: 25px 10px 56px;
    color: #fff;
    min-width: 256px;

}

.reason-item-info p:first-child {
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 5px;
}

.reason-item-info p:nth-child(2) {
    font-size: 14px;
    padding: 0;
    margin: 0;
    line-height: 21px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 21px;
}

.reason-item-info p:last-child {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0 36px;
}

.image-wraper {
    overflow: hidden;
    flex-grow: 1;
}

.image-wraper:hover {
    background-size:105%;
}

.sedona {
    background: url('../img/image_line_1.jpg') no-repeat center;
    background-size:100%;
    transition: 1s;
}

.brige {
    background: url('../img/brige.jpg') no-repeat center;
    background-size:100%;
    transition: 1s;
}

.reverse {
    flex-direction: row-reverse;
}

.gray p:first-child {
    color: #000;
}

.gray {
    background-color: #eee;
    color: #333;
    width: 100%;
}

.gray p:first-child {
    padding: 0 29%;
}

.gray p:last-child {
    padding: 0 4%;
}

.big {
    flex-basis: 100%;
}

.litle {
    width: 33.33%;
}

.services-list {
    display: flex;
    justify-content: space-between;
    padding-bottom: 62px;
}

.services-item {
    text-transform: uppercase;
    text-align: center;
    width: 33.333%;
    display: block;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    font-size: 21px;
    padding-top: 160px;
    outline: none;
    transition: 0.3s;
}

.home {
    background: url('../img/icon-1.png') no-repeat center;
    background-position: 50% 60px;
}

.food {
    background: url('../img/icon-2.png') no-repeat center;
    background-position: 50% 60px;
}

.souvenirs {
    background: url('../img/icon-3.png') no-repeat center;
    background-position: 50% 60px;
}

.services-item p {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #333;
    margin: 0;
    padding: 23px 56px;
}

.hotel-search {
    background-color: #fff;
    position: relative;
}

.search {
    position: relative;
    margin: 0 26.3%;
    display: flex;
    background-color: #fff;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    padding-top: 26px;
    z-index:10;
}

.search p {
    text-align: center;
}

.search p:first-child {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 12px;
}

.search p:nth-child(2) {
    font-size: 14px;
    line-height: 24px;
    color: #333;
    padding-bottom: 31px;
}

.search-button {
    width: 100%;
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    background-color: #766357;
    padding: 31px 0;
    cursor: pointer;
    transition: 0.4s;
    color: #fff;
}

.search-button:hover,
.search-button:focus {
    background-color: #604e43;

}.search-button:active {
    background-color: #503e33;
    color: rgba(255, 255, 255, 0.3);
}

.search-form {
    position: absolute;
    display: flex;
    top: 290px;
    flex-wrap: wrap;
    background-color: #fff;
    left: 50%;
    transform: translateX(-50%);
    width: 47.5%;
    margin: 0;
    z-index: 5;
    padding: 58px 57px;
    font-size: 14px;
    font-weight: bold;
    transition: 0.6s;
}

.not-visible {
    top: 0;
    padding: 0 57px;
    opacity: 0;
}

.data-enter,
.data-out {
    position: relative;
    display: flex;
    flex-basis: 100%;
    text-transform: uppercase;
    line-height: 38px;
    margin-bottom: 30px;
}

.data-input {
    margin-left: auto;
    width: 76%;
    border: none;
    height: 38px;
    background-color: #f2f2f2;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    padding: 0 40px 0 15px;
}

.count-input {
    width: 38px;
    border: none;
    height: 38px;
    background-color: #f2f2f2;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    padding: 0 15px;
    outline: none;
}

.data-input:hover,
.count-input:hover {
    background-color: #ebebeb;
}

.data-input:focus,
.count-input:focus {
    background-color: #fff;
    outline: 2px solid #f2f2f2;
}

.value-button {
    width: 41px;
    border: none;
    height: 38px;
    background-color: #f2f2f2;
    text-transform: uppercase;
    font-size: 21px;
    font-weight: bold;
    padding: 0 15px;
    appearance: none;
    color: rgba(0, 0, 0, 0.3);
    outline: none;
}

.value-button:hover,
.value-button:focus {
    color: #000;
}

.value-button:active {
    color: #81b3d2;
}

.adults,
.children {
    display: flex;
    flex-basis: 50%;
    text-transform: uppercase;
    line-height: 38px;
    margin-bottom: 56px;
}

.adults button:first-child,
.children button:first-child {
    margin-left: auto;
}

.children {
    padding-left: 50px;
}

.calendar {
    position: absolute;
    top: 7px;
    width: 28px;
    height: 25px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: red;
    outline: none;
}

.calendar svg {
    fill: rgba(0, 0, 0, 0.3);
    transition: 0.4s;
}

.calendar:hover svg,
.calendar:focus svg {
    fill: rgb(0, 0, 0);
}

.calendar:active svg {
    fill: #81b3d2;
}

.search-btn {
    flex-basis: 100%;
    background-color: #81b3d2;
    text-transform: uppercase;
    font-size: 21px;
    font-weight: bold;
    border: none;
    padding: 17px;
    color: #fff;
    transition: 0.3s;
}

.search-btn:hover,
.search-btn:focus {
    background-color: #669ec0;

}.search-btn:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
}

.map {
    position: relative;
}

.interactive-map {
    height: 593px;
    width: 100%;
}

.page-footer {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    justify-content: space-between;
    padding: 32px 100px;
    background-color: rgba(255, 255, 255, 0.71);
}

.page-footer p {
    padding: 0;
    margin: 0;
    font-size: 21px;
    line-height: 50px;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 33px;
    margin-right: 33px;
/*    align-self: center;*/
}

.social-list {
    display: flex;
    justify-content: space-between;
    
}

.svg-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-item {
    margin: 3px;
}

.social-item a {
    width: 46px;
    height: 48px;
    background-color: #81b3d2;
    padding: 14px 0;
    transition: 0.3s;
    outline: none;
}

.social-item a:hover,
.social-item a:focus {
    background-color: #669ec0;
}

.social-item a:active {
    background-color: #5496bd;
}

.social-item a:active path {
    fill: #88b6d1;
}

.html-label path {
    fill: #000;
    transition: 0.4s;
}

.html-label {
    position: relative;
    width: 200px;
    height: 44px;
    padding-top: 5px;
    padding-left: 85px;
    outline: none;
}

.html-label:hover path,
.html-label:focus path {
    fill: #81b3d2;
}

.html-label:active path {
    fill: #bdbbbc;
}

.html-label::before {
    content: 'website by';
    position: absolute;
    font-size: 14px;
    left: 0;
    top: 15px;
    font-weight: 400;
    text-transform: uppercase;
}

/*----------------------- HOTELS ---------------------------*/

.current {
    color: #a3968e;
    cursor: default;
}

.navigation-item .current {
    cursor: default;
}

.select-form {
    background: url('../img/blur_fone.jpg') no-repeat center;
    padding: 30px 6% 17px 6%;
    padding-top: 30px;
    padding-bottom: 17px;
}

.non-absolute {
    position: relative;
}

.properties-list {
    display: flex;
}

.properties-list .properties-item:nth-child(1) {
    margin-right: 11.1%;
}

.properties-list .properties-item:last-child {
    margin-left: auto;
}

.properties-item label {
    cursor: pointer;
}

.properties-item fieldset {
    padding: 0;
    border: none;
}

.properties-item legend {
    display: block;
    padding-bottom: 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}

.properties-item label {
    position: relative;
    display: block;
    padding: 10px 0 20px 40px;
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
    transition: 0.3s;
}

.properties-item li:last-child label {
    padding-bottom: 0;
}

.properties-item input[type="checkbox"]:checked ~ label::before,
.properties-item input[type="checkbox"] ~ label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 3px;
    width: 30px;
    height: 30px;
}

.properties-item input[type="checkbox"]:checked ~ label::before {
    background: url('../img/checkbox-on.png') no-repeat center;
}

.properties-item input[type="checkbox"] ~ label::before {
    background: url('../img/checkbox-off.png') no-repeat center;
}

.properties-item input[type="checkbox"]:hover ~ label,
.properties-item input[type="checkbox"]:focus ~ label {
    margin-left: 10px;
}

/*------------------- TOGGLE MODUL ---------------------*/

.slider {
    padding: 0;
    margin: 0;
    width: 30%;
}

.slider fieldset {
    padding: 0;
}

.toggle-modul {
    position: relative;
    height: 36px;
    border: none;
    margin-bottom: 19px;
}

.min-price input,
.max-price input{
    background-color: #fdeaea;
}

.grad-line {
    position: absolute;
    width: 100%;
    border-top: 2px solid #bcbcbc;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.toggle-min,
.toggle-max {
    box-sizing: content-box;
    position: absolute;
    top: -10px;
    width: 5px;
    height: 5px;
    border: 8px solid white;
    border-radius: 50%;
    background-color: #b9b7b7;
    box-shadow: 0 2px 1px 0 rgba(56, 56, 56, 0.28);
    cursor: pointer;
}

.toggle-min:hover,
.toggle-min:focus,
.toggle-max:hover,
.toggle-max:focus {
    background-color: #5a5a5a;
    box-shadow: 0 2px 3px 2px rgba(93, 93, 93, 0.36);
    outline: none;
}

.toggle-min:active,
.toggle-max:active {
    background-color: #ceffcc;
    box-shadow: 0 0 6px 3px rgba(72, 72, 72, 0.37);
}

.toggle-min {
    left: 0%;
}

.toggle-max {
    left: 80%;
}

.bar-line {
    position: absolute;
    width: 74%;
    border-top: 3px solid #ffffff;
    top: -2px;
    left: 20px;
}

.min-max-value {
    display: flex;
    position: relative;
    margin-top: -8px;
    border: 2px solid #ffffff;
    border-radius: 3px;
}

.min-max-value::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 78%;
    background-color: #fff;
    left: 50%;
    top: 10%;
}

.min-max-value label {
    padding: 0;
    width: 50%;
    text-align: right;
}

.min-value,
.max-value {
    display: flex;
    width: 50%;
    padding: 10px 0 8px;
    justify-content: center;
}

.min-max-value input {
    display:block;
    padding: 0;
    background-color: rgba(255, 0, 0, 0);
    color: #fff;
    border: none;
    margin-left:5px;
    outline: none;
}

.min-value input,
.max-value input{
    width: 50%;
}


/*------------ TOGGLE MODUL END ------------*/

.button {
    text-align: center;
    border: 2px solid #fff;
    text-transform: uppercase;
    border-radius: 2px;
    padding: 7px 33px 6px;
    color: #fff;
    margin-left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0);
    transition: 0.4s;
}

.button:hover,
.button:focus {
    background-color: #fff;
    color: #000;
}

.select-field {
    display: flex;
    text-transform: uppercase;
    padding: 30px 6%;
}

.count-find {
    font-size: 21px;
    font-weight: bold;
    margin-right: 47px;
}

.select-field span {
    line-height: 24px;
    font-size: 12px;
    margin-right: 45px;
}

.user-sort {
    display: flex;
    font-size: 12px;
    align-items: center;
}

.user-sort a {
    outline: none;
}

.user-sort li {
    margin-right: 31px;
}

.user-sort a:not(.active) {
    color: rgba(0, 0, 0, 0.3);
    border-bottom: 1px dotted #81b3d2;
}

.user-sort .active {
    color: #81b3d2;
}

.user-sort a:active {
    color: #000;
    border-bottom: none;
}

.user-sort a:hover,
.user-sort a:focus {
    color: #81b3d2;
    border-bottom: 1px dotted #81b3d2;
}

.arrow-list a {
    outline: none;
}

.arrow-list svg {
    height: 10px;
    width: 10px;
}

.arrow-list {
    margin-left: auto;
    display: inherit;
    width: 33px;
}

.arrow-list li {
    margin-right: 14px;
}

.arrow-list a polyline {
    fill: #cacaca;
    transition: 0.4s;
}

.arrow-list a:hover svg polyline,
.arrow-list a:focus svg polyline {
    fill: #000;
}

.arrow-list a:active svg polyline {
    fill: #81b3d2;
}

.arrow-list .selected svg polyline {
    fill: #81b3d2;
}

/*------------- HOTELS ------------*/

.result-list {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

.hotel-list h3 {
    padding: 0;
    margin: 0;
    font-size: 21px;
    font-weight: bold;
    transition: 0.3s;
}

.hotel-list h3:hover,
.hotel-list h3:focus {
   color: #81b3d2;
}

.hotel-list h3:active {
   color: #000;
    opacity: 0.3;
}

.hotel-item {
    display: flex;
    padding: 30px 6%;
}

.hotel-item img {
    display: block;
    margin-right: 30px;
}

.info {
    display: flex;
    flex-wrap: wrap;
    text-transform: uppercase;
    flex-basis: 50%;
}

.info a {
    width: 100%;
}

.col-left,
.col-right {
    margin-right: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.info p {
    margin: 0;
    font-size: 14px;
    color: #333;
}

.button-result {
    display: block;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    padding: 6px 16px;
    cursor: pointer;
}

.blue {
    background-color: #81b3d2;
    transition: 0.4s;
}

.blue:hover,
.blue:focus {
    background-color: #669ec0;
}

.blue:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
}

.brown {
    background-color: #766357;
    padding: 6px 16px;
}

.brown:hover,
.brown:focus {
    background-color: #604e43;
}

.brown:active {
    background-color: #503e33;
    color: rgba(255, 255, 255, 0.3);
}

.rating {
    margin-left: auto;
    min-width: 180px;
}

.rating p {
    background-color: #f2f2f2;
    color: #666;
    font-size: 14px;
    text-transform: uppercase;
    padding: 8px;
    margin: 0;
    width: 120px;
    text-align: center;
    margin-left: auto;
}

.stars-wrapper {
    display: flex;
    height: 20px;
    margin-bottom: 40px;
}

.star {
    background: url('../img/star.png') no-repeat center;
    width: 17px;
    margin-left: 7px;
}

.stars-wrapper li:first-child {
    margin-left: auto;
}

